.App {
  font-family: sans-serif;
  text-align: center;
}

.Count {
  padding: 10;
  margin: 10;
  height: 30;
  width: 30;
  border: "solid";
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 12px 20px;
  font-size: 14px;
  cursor: pointer;
}

/* Green */
.success {
  border-color: #04aa6d;
  color: green;
}

.userForm {
  border: 2px solid red;
  border-radius: 5px;
  border-style: solid;
  border-color: green;
}

input[type="text"] {
  width: 20%;
  padding: 8px 8px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="date"] {
  width: 20%;
  padding: 8px 8px;
  margin: 8px 0;
  box-sizing: border-box;
}

.userForm {
  border-radius: 5px;
  background-color: #f2f2f228;
  padding: 20px;
}
